{% extends "layout.html" %}

{% block page_content %}
<!--Bloco com conteúdo da página-->

    <div class="row">
    <!--Cria a linha da grid que será criada na classe abaixo-->
        <div class="col-sm-8">
	<!--a classe de Bootstrap col-sm-8 criará grids (o que ajuda a versatilidade de redimensionamento de resolução de dispositivos, ex. de desktop para mobile)-->
          <h2 class="mt-4">Historia do Jogo</h2>
	  <!--mt-4 Determina o topo da margem-->
          <p>Seu planeta Sullu teve o coração saqueado. A pedra preciosa que mantém o planeta vivo está na mão do esquadrão de Olus. </p>
	  <p>Mas como um clichê, sempre temos um herói... O grande piloto da frota acaba de resgatar a pedra das mãos do maior contrabando da galáxia.</p>
          <p>Em um meio de comemoração e festa, um incidente ocorre. Um franco-atirador acaba de matar o grande piloto e saquear novamente a pedra. O caos volta à tomar conta enquanto o misterioso assassino se esconde dentro do planeta Sullu.</p>
	  <p>Sem um piloto para comandar a frota e impedir os reforços inimigos à caminho, você, um astrofísico fracassado acaba de ser contratado (e mais meia dúzia de capangas idiotas), será que vocês conseguem resistir ao esquadrão de Olus?</p>
	  <p>Esta experiencia ira lhe proporcionar muita interativade entre os seus colegas e esta um passo perto de voce.</p>
	  <p>Um abra .. bra .. co de Max He ... He.. Headroom ...oom ...oom ...oom.</p>
	  <p>Um abraco dos desenvolvedores.<p/>
	  <p>Jogue nosso jogo e garantimos que sua produtividade irá cair, a felicidade e diversão irão à outro nível e seu quarto irá virar seu novo mundo. Parece insano, mas é sensacional, melhor que qualquer rail-shooter chorão, você já pode se trancar no quarto e passar horas grudado no seu HMD VR enquanto seu amigo eeaster egg spera a vez dele de jogar no VR enquanto conduz uma navezinha pelo PC</p>
	  <p>CP olep ahnizevan amu zudnoc otnauqne RV on ragoj ed eled zev a arepse ogima ues otnauqne RV DMH ueaster egges on odadurg saroh rassap e otrauq on racnart es edop áj êcov ,oãrohc retoohs-liar reuqlauq euq rohlem ,lanoicasnes é sam ,onasni eceraP .odnum ovon ues rariv ári otrauq ues e levín ortuo à oãEASTER EGGri oãsrevid e edadicilef a ,riac ári edadivitudorp aus euq somitnarag e ogoj osson eugo</p>
	  <p>Jogue nosso jogo e garantimos que sua produtividade irá cair, a felicidade e EASTER EGGdiversão irão à outro nível e seu quarto irá virar seu novo mundo. Parece insano, mas é sensacional, melhor que qualquer rail-shooter chorão, você já pode se trancar no quarto e passar horas grudado no seu HMD VR enquanto seu amigo espera a vez dele de jogar no VR enquanto conduz uma navezinha pelo PC. Vá e pegue sua cópia urgente no nosso site, mas pera o jogo ainda não lançou...</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">Voltar ao ínicio &raquo;</a>
	    <!--botão (btn) primario (primary) e largo (lg)-->
          </p>
        </div>
        <div class="col-sm-4">
	<!--a classe de Bootstrap col-sm-4 criará grids (o que ajuda a versatilidade de redimensionamento de resolução de dispositivos, ex. de desktop para mobile)-->
          <h2 class="mt-4">Entre em contato</h2>
	  <!--mt-4 Determina o topo da margem-->
          <address>
            <strong>Devagar e Sempre</strong>
            <br>404 Avenida Nao Encontrada
            <br>Osasco, SP 01101-010
            <br>
	    <!-- <br> é uma tag responsável pela quebra de linha (line break)-->
          </address>
	  <!-- <address> é uma tag para informações de contato -->
          <address>
            <abbr title="Phone">T:</abbr>
	    <!--abbr p/ Abreviação-->
            +55 (11) 3332-2100
            <br>
            <abbr title="Email">E:</abbr>
	    <!--abbr p/ Abreviação-->
            <a href="mailto:#">jukebox.plays@gmail.com</a>
          </address>
	  <!-- <address> é uma tag para informações de contato -->
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
      <!--Cria a linha da grid que será criada na classe abaixo-->
        <div class="col-sm-4 my-4">
	<!--a classe de Bootstrap col-sm-4 criará grids (o que ajuda a versatilidade de redimensionamento de resolução de dispositivos, ex. de desktop para mobile) e o my-4 configura o espaçamento de top e/ou bottom-->
          <div class="card">
	  <!--card é uma classe Bootstrap com uma forma flexível e que pode conter um corpo, imagem e rodapé em uma só box-->
            <img class="card-img-top" src="https://i.imgur.com/yOr6u1E.jpg" alt="">
	    <!--classe para determinar a imagem à ser inserida no card conforme mencionado no comentário da classe card-->
            <div class="card-body">
	    <!--classe para determinar o corpo à ser inserido no card conforme mencionado no comentário da classe card-->
              <h4 class="card-title">Atari VR 2600</h4>
	      <!--classe para titulos à serem inseridos dentro do corpo do card-->
              <p class="card-text">Embarque numa Aventura em realidade virtual com recriacoes dos jogos mais antigos</p>
	      <!--classe para descrições/textos à serem inseridos dentro do corpo do card-->
            </div>
            <div class="card-footer">
	    <!--classe para determinar o rodapé à ser inserido no card conforme mencionado no comentário da classe card-->
              <a href="#" class="btn btn-primary">Comprar</a>
	      <!--botão (btn) primario (primary) inserido dentro do footer (rodapé)-->
            </div>
          </div>
        </div>
	
	<!--

	####         A ESTRUTURA ABAIXO É A MESMA QUE ENCONTRAMOS NAS LINHAS ACIMA        ####

	-->
        <div class="col-sm-4 my-4">
	<!--a classe de Bootstrap col-sm-4 criará grids (o que ajuda a versatilidade de redimensionamento de resolução de dispositivos, ex. de desktop para mobile) e o my-4 configura o espaçamento de top e/ou bottom-->
          <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/cKs2Jci.png" alt="">
            <div class="card-body">
              <h4 class="card-title">HTC VIVE Nexus</h4>
              <p class="card-text">Adquira hoje a versao mais imersiva do headset de realidade virtual impossivel da HTC</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
	<!--a classe de Bootstrap col-sm-4 criará grids (o que ajuda a versatilidade de redimensionamento de resolução de dispositivos, ex. de desktop para mobile) e o my-4 configura o espaçamento de top e/ou bottom-->
          <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/qbnI2Fs.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Cyberith Omni Infinadek</h4>
              <p class="card-text">Ande por terrenos sem sair do seu quarto e assim explore o mundo em Realidade Virtual</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

{% endblock %}
